* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Utility Classes */

h1 {
    text-transform: uppercase;
}


/* Header */

.header {
    background-color: tomato;
    text-align: center;
    width: 100vw;
    min-height: 60px;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
}


/* Game Board */

.game-board {
    width: 55%;
    height: 100%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; */
}


/* game-heading, game-play */

.game-heading,
.game-play {
    margin: 1rem 2rem;
    padding: 1rem;
}


/* .game-play input,
.game-play button */

.game-play input,
.game-play button {
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid tomato;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.game-play input:hover,
.game-play button:hover {
    border: 2px dashed teal;
    background-color: purple;
    color: #fff;
    text-transform: uppercase;
}


/* Footer */

.footer {
    background-color: tomato;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    min-height: 60px;
    padding: 1rem;
}